*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: #cccccc;
}

header, footer, main {
    display: flex;
    justify-content: center;
}

/* .page_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
} */

.logo, .topp_menu {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}
.topp_menu li {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}

.topp_menu a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    color: black;
}

.logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; 
    vertical-align: middle;
}
.topp_menu a:hover{
    font-weight: bold;
}

.bilde_ctr{
    display: flex;
    justify-content: center;
}

.fot_menu li {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}

.fot_menu a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    color: black;
}

footer{
    margin-top: auto;
}

main{
    flex: 1 1 auto;
}